@model List<MVC_CRUD.Models.Domain.Product>

<body>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mb-3" style="width: 18rem;height: 24rem;">
                    <img src="@product.productImage" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">@product.productName</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text mt-2">Rs. @product.productCost</p>
                            @if (@ViewData["loggedIn"] is bool)
                            {
                                if (Convert.ToBoolean(@ViewData["loggedIn"]))
                                {
                                    <a href="@Url.Action("Index", "Login")" class="btn btn-success">BUY</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Cart", new { productId = product.productID })" class="btn btn-success">BUY</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="cart-contents"></div>

    </div>
</body>