@model List<MVC_CRUD.Models.Domain.User>
@{

}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Pincode</th>
            <th>Mobile</th>
            <th>Wallet Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.userID</td>
                <td>@user.userName</td>
                <td>@user.email</td>
                <td>@user.address</td>
                <td>@user.pincode</td>
                <td>@user.mobile</td>
                <td>@user.walletBalance</td>
            </tr>
        }
    </tbody>
</table>